<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div>
      {{name + 'gmx'}}
    </div>
    <input type="text" v-model="input" @keyup.enter="add" placeholder="回车也可添加任务">
    <h2 >{{input}}</h2>
    <button @click="add">添加任务</button>
    <!-- <button v-on:keyup="add"></button> -->
    <li v-for="(items,index) in list">
      {{items}}
      <button @click="del2(index)" >删除</button>
      <button @click="top(index)" :disabled="false">上移</button>
      <button @click="down(index)" :disabled="index == list.length-1">下移</button>
    </li>
    <h1 v-once>
      {{count}}
      <button @click="plus">+</button><button v-on:click="sub">-</button>
    </h1>
  </div>
</body>
<script>
  // {
  //   height:180,
  //   age:18
  // }
  let app = new Vue({
    el: '#app',
    data: {
      name: "Zhangsan",
      list: ['划水', '吃饭', '睡觉', '摸鱼'],
      count: 1,
      input: "",
      style0:{
        height:'100px',
        width:'100px',
        fontSize:'100px'
      }
    },
    methods: {
      plus: function () {
        this.count++
      },
      sub: function () {
        this.count--
      },
      add: function () {
        // var input = document.querySelector("input")
        this.list.push(this.input)
      },
      del: function (index) {
        datas = []
        var m = 0;
        for (var i = 0; i < this.list.length; i++) {
          if (i != index) {
            datas[m] = this.list[i]
            m++
            // datas.push()
          }
        }
        this.list = datas
        // this.list=this.list.filter((item,i)=>i!=index);
      },
      del2(index){
        this.list.splice(index,0,"saaa","bbbb","cccc")
      },
      top: function (index) {
        if (index == 0) {
          flag = false
        }
        else {
          var tmp = this.list[index - 1]
          Vue.set(this.list, index - 1, this.list[index])
          Vue.set(this.list, index, tmp)
        }

      },
      down: function (index) {
        if (index == this.list.length) {
        }
        var tmp = this.list[index]
        Vue.set(this.list, index, this.list[index + 1])
        Vue.set(this.list, index + 1, tmp)
      },
      btnup(index){
        if (index == 0){
          return true
        }
      },
      btndown(index){
        if (index == this.list.length - 1){
          return true
        }
      }
    },
  })
</script>
</html>